@import "tailwindcss";

@theme  {
  --color-pf-orange: hsl(33, 100%, 50%);
}

/* Supports weights 200-700 */
/* oswald-latin-wght-normal */
@font-face {
  font-family: 'Oswald Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 200 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/oswald:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* open-sans-latin-wght-normal */
@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 300 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/open-sans:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

body {
  font-family: "Open Sans Variable",helvetica,arial,sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
}

/* Links */
a {
  color: var(--color-pf-orange);
  text-decoration: none;
  transition: color .3s ease;
}

a:hover {
  color: #0056b3;
} 

a:focus-visible {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

/* Typography */
p {
  @apply text-lg/8 font-normal text-stone-600;
}

p + p,
p + h3 {
  @apply mt-4;
}

h1 {
  @apply text-3xl font-bold uppercase text-stone-600;
}

h2 {
  @apply text-2xl font-bold text-pf-orange uppercase;
} 

h3 {
  @apply text-xl font-bold text-pf-orange uppercase;

}

.blog__site__header {
  @apply border-t-6 border-pf-orange pt-4 flex items-center;
}

.blog__logo__link {
  @apply mx-auto max-w-[133px] block;
}

.blog__challenge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  border: 0.25rem solid var(--color-pf-orange);
  cursor: pointer;

  &[aria-expanded="true"] {
    background-color: black;
    color: white;
  }

  &:hover {
    border-color: black;
  }

}

.blog__challenge__tasks {
  position: absolute;
  top: 4rem;
  right: 1rem;
  padding: 2rem;
  max-width: 30rem;
  margin: 0 auto;
  border: 0.25rem solid gray;
  background-color: rgba(255,255,255,0.9);
  z-index: 1;

  @media (max-width: 550px) {
    max-width: 100%;
    left: 1rem;
  }
}

.blog__challenge__tasks[aria-hidden="true"] {
  display: none;
}

.blog__challenge__tasklist {
  margin-left: 1rem;
}

.blog__challenge__tasklist li {
  font-size: 1.4rem;
  line-height: 1;
}

.blog__challenge__tasklist li::marker {
  content: "✓";
  font-size: 2.4rem;
  font-weight: 600;
  color: green;
}

.blog__challenge__tasklist li + li {
  margin-top: 0.75rem;
}


.blog__intro {
  @apply text-lg font-medium text-stone-600 italic;
}

.blog__byline {
  @apply text-base font-medium text-stone-600 italic;
}

/* Blog bits */
.blog__full {
  @apply max-w-[660px] my-8 max-[600px]:px-8 mx-auto;
}

.blog__body {
  @apply my-4 flex flex-col gap-4;
}

.blog__body a {
  @apply underline decoration-2;
}

.blog__category__header {
  font-family: 'Oswald Variable', sans-serif;
}

/* create utility classes to avoid updating selectors in the future */
.blog__body .image-container {
  @apply my-6;
}

.image-container {
  @apply flex justify-center;
  
  position: relative;
}

.image-container img {
  @apply rounded-sm border-pf-orange border-2;
}

.blog__separator {
  @apply mx-auto my-6;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  .dot {
    display: inline-block;
    background-color: black;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}


.blog__footer__content {
  @apply max-w-[660px] my-8 max-[600px]:px-8 mx-auto;
}

.blog__site__footer {
  @apply px-8 border-amber-500 border-t-6 pt-4;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media (prefers-reduced-motion: no-preference) {
	.image-container img.loading {
		visibility: hidden; 
	}

	.image-container img.loaded {
		animation: zoomIn 800ms ease-in-out;
		animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
		animation-fill-mode: forwards;
		visibility: visible;
	}

  .blog__logo__link:hover {
    animation: rubberBand 800ms ease-in-out;
		animation-fill-mode: forwards;
  }
}
